/* Font */
@font-face {
    src: url("/assets/font/font.woff2");
    font-family: "Geist Sans";
    font-weight: 400;
}

/* Core */
body, html {
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: "Geist Sans", sans-serif;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: content-box;
    touch-action: manipulation;
}

.text-section {
    padding-top: 30px;
}

.title {
    color: hsl(0, 0%, 93%);
    font-weight: 700;
    letter-spacing: -0.066875rem;
    line-height: 3.5rem;
    font-size: 2rem;
}

.title-centered {
    text-align: center;
}

/* Loader */
#loader {
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

#loader-img {
    width: 32px;
}

/* Badges */
.badge-beta {
    font-size: 11px;
    height: 20px;
    padding: 0 6px;
    border-radius: 999px;
    background-color: hsl(214, 59%, 15%);
    color: hsl(210, 100%, 66%);
    display: flex;
    align-items: center;
}

/* Buttons */
.btn-secondary {
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .14);
    color: hsl(0, 0%, 93%);
    background-color: #0a0a0a;
}

.btn {
    transition-property: border-color, background-color, color, transform, box-shadow;
    transition-duration: .15s;
    transition-timing-function: ease;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-large {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    font-size: 16px;
}

.btn-flush {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-round {
    border-radius: 9999px;
    width: 24px;
    padding-left: 4px;
    padding-right: 4px;
}

.btn-secondary:hover {
    background-color: hsl(0, 0%, 12%);
}

.btn-primary {
    background-color: hsl(0, 0%, 93%);
    color: #0a0a0a;
}

.btn-primary:hover {
    background-color: #ccc;
}

.btn-cta {
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 999px;
    height: 48px;
    font-size: 16px;
}

.btn-cta-small {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 999px;
    height: 40px;
    font-size: .875rem;
}

.btn-cta-text {
    padding-left: 6px;
    padding-right: 6px;
}

.btn-cta-icon {
    margin-right: 2px;
    width: 20px;
}

/* Debugging */
#debug {
    position: fixed;
    color: white;
    opacity: .5;
    font-family: "Geist Sans", sans-serif;
    top: 10%;
    left: 10%;
    pointer-events: none;
    z-index: 9999;
}

/* Navigation */
#navbar, #mobile-navbar {
    height: 64px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, .1);
    transition: box-shadow 150ms ease;
    z-index: 99;
    background-color: black;
}

#navbar.no-border, #mobile-navbar.no-border {
    box-shadow: none;
}

#navbar-inner, #mobile-navbar-inner {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1400px;
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-inner-left, #navbar-inner-right, #mobile-navbar-inner-left, #mobile-navbar-inner-right {
    display: flex;
    align-items: center;
    flex: auto;
    height: 30px;
    gap: 12px;
}

#navbar-inner-right, #mobile-navbar-inner-right {
    justify-content: right;
}

#navbar-navigation {
    display: flex;
}

.navbar-navigation-item {
    border-radius: 999px;
    padding: 8px 12px;
    color: hsl(0, 0%, 63%);
    list-style: none;
    cursor: pointer;
    transition: color 150ms ease;
    font-size: 14px;
    line-height: 1;
    height: 14px;
}

.navbar-navigation-item:hover {
    color: hsl(0, 0%, 93%);
}

#navbar-tabs {
    border-radius: 999px;
    background-color: hsl(0, 0%, 12%);
    transition: left 150ms ease, width 150ms ease, opacity 150ms ease;
    height: 30px;
    position: fixed;
    width: 16px;
    z-index: -1;
    opacity: 0;
}

.navbar-navigation-item-chevron-open, .navbar-navigation-item.open .navbar-navigation-item-chevron-closed {
    display: none;
}

.navbar-navigation-item.open .navbar-navigation-item-chevron-open {
    display: inline-block;
}

.navbar-navigation-item-chevron-closed, .navbar-navigation-item-chevron-open {
    vertical-align: middle;
}

#navbar-logo-img, #mobile-navbar-logo-img {
    height: 30px;
    vertical-align: middle;
}

#navbar-logo-link, #mobile-navbar-logo-link {
    height: 30px;
    display: block;
    padding-right: 5px;
}

#navbar-category-outer {
    padding: 20px;
    position: absolute;
    align-self: end;
    top: 42px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease;
}

#navbar-category {
    border: 1px solid hsl(0, 0%, 18%);
    border-radius: 12px;
    background-color: black;
}

.navbar-category-base {
    display: flex;
    transition: opacity 300ms ease, margin-left 300ms ease, clip-path 300ms ease;
    position: absolute;
    opacity: 0;
    margin-left: 248px;
    pointer-events: none;
}

.navbar-category-base.reverse {
    margin-left: -248px;
}

.navbar-category-base.reverse.show {
    opacity: 1;
    margin-left: 0;
    pointer-events: auto;
}

.navbar-category-base.reverse.hide {
    opacity: 0;
    margin-left: 248px;
}

.navbar-category-base.show {
    opacity: 1;
    margin-left: 0;
    pointer-events: auto;
}

.navbar-category-base.hide {
    opacity: 0;
    margin-left: -248px;
}

#navbar-inner-left:has(.navbar-navigation-item-with-category:hover):not(.navigating) #navbar-category-outer, #navbar-inner-left:has(#navbar-category-outer:hover):not(.navigating) #navbar-category-outer {
    opacity: 1;
    pointer-events: auto;
}

#navbar-category-indicator {
    position: fixed;
    transform: rotate(180deg);
    margin-top: -24.5px;
    left: 0;
}

#navbar-category-indicator-icon {
    width: 32px;
    height: 32px;
}

.navbar-category-section {
    padding: 8px 0;
    width: 248px;
}

.navbar-category-section:nth-child(1) {
    padding-left: 8px;
}

.navbar-category-section:nth-last-child(1) {
    padding-right: 8px;
}

.navbar-category-section-header {
    padding: 8px 12px;
    color: hsl(0, 0%, 63%);
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.navbar-category-section-item {
    padding: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar-category-section-item:hover .navbar-category-section-item-icon-container {
    color: black;
    background: hsl(0, 0%, 93%);
}

.navbar-category-section-item:hover .navbar-category-section-item-text-description {
    color: hsl(0, 0%, 93%);
}

.navbar-category-section-item-icon-container {
    width: 32px;
    height: 32px;
    background: black;
    border: 1px solid hsla(0, 0%, 100%, .14);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 63%);
    transition: color 150ms ease, background 150ms ease;
}

.navbar-category-section-item-text-title {
    font-size: 14px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    color: hsl(0, 0%, 93%);
}

.navbar-category-section-item-text-description {
    font-size: .75rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1rem;
    white-space: nowrap;
    color: hsl(0, 0%, 63%);
    transition: color 150ms ease;
}

.navbar-navigation-item-link {
    color: inherit;
    text-decoration: inherit;
}

#mobile-navbar {
    display: none;
}

/* Container */
#app, #loader {
    padding-bottom: 90px;
    min-height: 100vh;
}

#app #loader {
    display: flex;
}

#app #page {
    display: none;
}

#app.loaded #loader {
    display: none !important;
}

#app.loaded #page {
    display: block !important;
}

#page {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 24px;
    padding-right: 24px;
}

/* Mobile container */
@media (max-width: 900px) {
    #app, #loader {
        padding-bottom: 32px;
    }
}

/* Error page */
#error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    height: calc(100vh - 64px);
    text-align: center;
}

#error-page-title {
    color: hsl(0, 0%, 93%);
    margin: 64px 0 8px;
    font-weight: 700;
    letter-spacing: -0.066875rem;
    line-height: 3.5rem;
    font-size: 3rem;
}

#error-page-logo {
    width: 196px;
    height: 196px;
}

#error-page-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin: 12px 0;
    color: hsl(0, 0%, 63%);
    height: 48px;
}

#error-page-btn {
    margin: 12px auto 24px;
}

/* Mobile navbar */
@media (max-width: 900px) {
    #mobile-navbar {
        display: flex;
    }

    #navbar {
        display: none;
        overflow-x: auto;
    }

    #mobile-navbar-hamburger-container {
        color: hsl(0, 0%, 63%);
    }

    #mobile-navbar-hamburger-open {
        display: none;
    }

    body:has(#navbar.mobile-open) #mobile-navbar-hamburger-open {
        display: initial;
    }

    body:has(#navbar.mobile-open) #mobile-navbar-hamburger-closed {
        display: none;
    }

    body:has(#navbar.mobile-open) #navbar {
        display: flex;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
    }

    #navbar-inner {
        margin-top: 10px;
        height: auto;
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        align-items: start;
    }

    #navbar-category {
        margin-top: 10px;
        height: auto !important;
        width: 100% !important;
        border-radius: 0;
        border: none;
        background-color: transparent;
    }

    #navbar-category-outer {
        position: initial;
        opacity: 1;
        pointer-events: all;
        padding: 0;
    }

    .navbar-category-base {
        position: initial;
        opacity: 1;
        pointer-events: all;
        margin-left: 0;
        width: 100%;
    }

    #navbar-inner-left {
        display: block;
        width: 100%;
        margin: 0 -12px;
    }

    #navbar-inner-right .btn {
        width: 100%;
        height: 40px;
        padding: 0 10px;
    }

    #navbar-logo {
        display: none;
    }

    #navbar-category-indicator {
        display: none;
    }

    .navbar-navigation-item {
        flex-basis: 100%;
    }

    #navbar-inner-left, #navbar-inner-right {
        height: auto;
    }

    #navbar-inner-right {
        flex-flow: row-reverse wrap-reverse;
    }

    .navbar-category-section, #navbar-navigation {
        padding: 12px 0 !important;
        flex-basis: 100%;
        width: 100%;
    }

    .navbar-category-base {
        display: block;
    }

    #navbar-navigation {
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
    }

    .navbar-category-section-header, .navbar-category-section-item-text-title, .navbar-navigation-item {
        font-size: initial;
        font-weight: initial;
    }

    .navbar-category-section, #navbar-navigation {
        border-top: 1px solid hsl(0, 0%, 12%);
    }

    .navbar-category-section-item, .navbar-navigation-item {
        color: hsl(0, 0%, 63%);
    }

    .navbar-category-section-item-text-title {
        color: inherit;
        margin-bottom: 0;
    }

    .navbar-category-section-item-text-description {
        display: none;
    }

    .navbar-category-section-item, .navbar-navigation-item {
        padding: 0;
        gap: 8px;
    }

    .navbar-category-section-header, .navbar-navigation-item {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-navigation-item {
        display: flex;
        align-items: center;
    }

    .navbar-navigation-item.navbar-navigation-item-with-category {
        display: none;
    }

    .navbar-category-section-item-icon-container {
        background-color: transparent;
        border: none;
    }

    .navbar-category-base:nth-child(1) .navbar-category-section:nth-child(1) {
        border: none;
    }

    .navbar-category-section-header, .navbar-category-section-item, .navbar-navigation-item {
        height: 48px;
        padding: 0 12px;
    }

    .navbar-category-section-item:hover .navbar-category-section-item-icon-container {
        color: inherit;
        background: initial;
    }

    .navbar-category-section-item-icon-container {
        width: max-content;
        height: max-content;
    }

    .navbar-category-section-item:hover, .navbar-navigation-item:hover {
        color: hsl(0, 0%, 93%);
        background-color: hsl(0, 0%, 10%);
    }

    .navbar-category-section-item, .navbar-navigation-item {
        transition: color 150ms ease, background-color 150ms ease;
        border-radius: 6px;
    }
}

/* Home page */
#home-hero {
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-hero-inner {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 100%;
}

#home-hero-image {
    text-align: center;
}

#home-hero-text {
    display: flex;
    align-items: center;
}

#home-hero-title-headline {
    color: hsl(0, 0%, 93%);
    font-weight: 700;
    letter-spacing: -0.066875rem;
    line-height: 3.5rem;
    font-size: 3rem;
    width: 400px;
}

#home-hero-title {
    z-index: 2;
    position: absolute;
}

#home-hero-title-tagline {
    width: 400px;
    margin-top: 30px;
    color: hsl(0, 0%, 63%);
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.25rem;
}

#home-hero-image-inner {
    width: 40vw;
    height: 40vw;
    margin-left: 35vw;
}

#home-hero-background-path {
    filter: blur(50px);
    opacity: .5;
    animation-name: hero;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
    transform-origin: center;
}

@keyframes hero {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#home-cards, #project-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.home-card, .project-card {
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 18%);
    padding: 20px;
    text-decoration: none;
}

#home-cta {
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 18%);
    padding: 48px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 80px;
}

#home-cta-buttons, #home-cta-orgs-btns {
    display: flex;
    gap: 16px;
    align-items: center;
}

#home-cta-left {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
}

#home-cta-right {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
}

#home-cta-orgs {
    color: hsl(0, 0%, 63%);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.32px;
    flex: 1;
    flex-basis: 100%;
}

#home .title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#home h2.home-section-title {
    margin-top: 50px;
}

#home-hero-cta {
    font-weight: initial;
    letter-spacing: initial;
    margin-top: 30px;
    width: max-content;
}

.home-card-header, .project-card-header {
    color: hsl(0, 0%, 63%);
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    flex-basis: 100%;
}

.home-card, .project-card {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
}

.home-card-content, .project-card-content {
    flex: 1;
    flex-basis: 100%;
    color: hsl(0, 0%, 93%);
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -.4px;
    font-weight: 600;
    text-wrap: balance;
}

#home-cta-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -.96px;
    text-wrap: balance;
    color: hsl(0, 0%, 63%);
    flex: 1;
    flex-basis: 100%;
}

#home-cta-title-focus, #home-cta-orgs-focus {
    font-weight: 600;
    color: hsl(0, 0%, 93%);
}

/* Mobile home page */
@media (max-width: 1140px) {
    #home-cards, #project-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    #home-hero-title-tagline {
        width: 100%;
    }

    #home-hero-cta {
        margin-left: auto;
        margin-right: auto;
    }

    #home-cards, #project-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    #home-hero-inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content;
        height: 100%;
    }

    #home-hero-title {
        position: initial;
        text-align: center;
    }

    #home-hero-text {
        justify-content: center;
    }

    #home-hero-image-inner {
        margin-left: auto;
        margin-right: auto;
        min-width: 400px;
        min-height: 400px;
    }
}

/* Footer */
#footer-inner {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1.5fr);
    gap: 24px;
    flex-wrap: wrap;
}

#footer-container {
    padding: 28px 24px 24px;
}

#footer-inner-general-icon {
    width: 24px;
    height: 24px;
}

#footer-inner-general {
    display: flex;
    padding-top: 8px;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-inner-general-copyright, #footer-inner-general-version {
    color: #888;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

#footer-inner-general-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#footer-inner-general-status-container {
    text-align: left;
    margin-right: auto;
    width: max-content;
    padding: 8px;
    margin-left: -8px;
    height: 18px;
    box-shadow: none;
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: row;
    color: hsl(0, 0%, 56%);
    transition: color 150ms ease, background-color 150ms ease;
}

#footer-inner-general-status-container:not(:hover) {
    background-color: transparent;
}

#footer-inner-general-status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: hsl(0, 0%, 56%);
    display: inline-block;
    transition: background-color 150ms ease;
}

#footer-inner-general-status-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    flex: 1;
}

#footer-inner-general-status-container.status-success #footer-inner-general-status-indicator {
    background-color: #0072f5;
}

#footer-inner-general-status-container.status-success {
    color: #0072f5;
}

#footer-inner-general-status-container.status-warning #footer-inner-general-status-indicator {
    background-color: #ffb224;
}

#footer-inner-general-status-container.status-warning {
    color: #ffb224;
}

#footer-inner-general-status-container.status-error #footer-inner-general-status-indicator {
    background-color: #e5484d;
}

#footer-inner-general-status-container.status-error {
    color: #e5484d;
}

#footer-inner-general-socials {
    margin-top: auto;
    margin-bottom: 12px;
    width: 100%;
}

#footer-inner-general-socials-inner {
    margin: 0;
    padding: 0 0 0 5px;
    list-style: none;
    display: inline-flex;
    align-items: center;
}

#footer-inner-general-socials-inner li {
    display: inline-flex;
    margin-right: 19px;
}

#footer-inner-general-socials-inner .social {
    padding: 3px;
    margin: -3px;
    border-radius: 9999px;
    color: #888;
    transition: color 150ms ease;
}

#footer-inner-general-socials-inner .social:hover {
    color: #fff;
}

.footer-inner-listing-title {
    font-weight: 500;
    font-size: 14px;
    margin: 12px 0;
}

.footer-inner-listing-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-inner-listing-item {
    padding: 6px 0;
    color: #888;
    font-size: 14px;
}

.footer-inner-listing-item a {
    color: inherit;
    text-decoration: none;
    transition: color 150ms ease;
}

.footer-inner-listing-item a:hover {
    color: #fff;
}

#footer-inner-general-logo #footer-inner-general-version, #footer-inner-general-logo:hover #footer-inner-general-copyright {
    display: none;
}

#footer-inner-general-logo:hover #footer-inner-general-version {
    display: block;
}

/* Footer mobile */
@media (max-width: 900px) {
    #footer-inner {
        grid-template-columns: 1fr;
    }
}

/* Credits */
#credits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.credits-grid-title {
    font-weight: 700;
    text-align: right;
}

#credits-footer {
    text-align: center;
    color: hsl(0, 0%, 63%);
    margin-top: 20px;
}

#credits-powered {
    display: block;
    width: max-content;
    margin: 20px auto 0;
}

#credits-powered-logo {
    border: 1px solid #5e5e5e;
    border-radius: 5px;
}
