@font-face {
    src: url("/assets/font/font.woff2");
    font-family: "Geist Sans";
}

body, html {
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: "Geist Sans", sans-serif;
}

* {
    box-sizing: content-box;
    touch-action: manipulation;
}

#navbar, #mobile-navbar {
    height: 64px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, .1);
    transition: box-shadow 150ms ease;
    z-index: 99;
}

#loader {
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
}

#loader-img {
    width: 32px;
}

#navbar.no-border, #mobile-navbar.no-border {
    box-shadow: none;
}

#navbar-inner, #mobile-navbar-inner {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1400px;
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-inner-left, #navbar-inner-right, #mobile-navbar-inner-left, #mobile-navbar-inner-right {
    display: flex;
    align-items: center;
    flex: auto;
    height: 30px;
    gap: 12px;
}

#navbar-inner-right, #mobile-navbar-inner-right {
    justify-content: right;
}

#navbar-navigation {
    display: flex;
}

.navbar-navigation-item {
    border-radius: 999px;
    padding: 8px 12px;
    color: hsl(0, 0%, 63%);
    list-style: none;
    cursor: pointer;
    transition: color 150ms ease;
    font-size: 14px;
    line-height: 1;
    height: 14px;
}

.navbar-navigation-item:hover {
    color: hsl(0, 0%, 93%);
}

#navbar-tabs {
    border-radius: 999px;
    background-color: hsl(0, 0%, 12%);
    transition: left 250ms ease, width 250ms ease, opacity 150ms ease;
    height: 30px;
    position: fixed;
    width: 16px;
    z-index: -1;
    opacity: 0;
}

.navbar-navigation-item-chevron-open, .navbar-navigation-item.open .navbar-navigation-item-chevron-closed {
    display: none;
}

.navbar-navigation-item.open .navbar-navigation-item-chevron-open {
    display: inline-block;
}

.navbar-navigation-item-chevron-closed, .navbar-navigation-item-chevron-open {
    vertical-align: middle;
}

#navbar-logo-img, #mobile-navbar-logo-img {
    height: 30px;
    vertical-align: middle;
}

#navbar-logo-link, #mobile-navbar-logo-link {
    height: 30px;
    display: block;
    padding-right: 5px;
}

.btn-secondary {
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .14);
    color: hsl(0, 0%, 93%);
    background-color: #0a0a0a;
}

.btn {
    transition-property: border-color, background-color, color, transform, box-shadow;
    transition-duration: .15s;
    transition-timing-function: ease;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-large {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    font-size: 16px;
}

.btn-flush {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-round {
    border-radius: 9999px;
    width: 24px;
    padding-left: 4px;
    padding-right: 4px;
}

.btn-secondary:hover {
    background-color: hsl(0, 0%, 12%);
}

.btn-primary {
    background-color: hsl(0, 0%, 93%);
    color: #0a0a0a;
}

.btn-primary:hover {
    background-color: #ccc;
}

#debug {
    position: fixed;
    color: white;
    opacity: .5;
    font-family: "Geist Sans", sans-serif;
    bottom: 10%;
    right: 10%;
    pointer-events: none;
}

#navbar-category-outer {
    padding: 20px;
    position: absolute;
    align-self: end;
    top: 42px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease;
}

#navbar-category {
    border: 1px solid hsl(0, 0%, 18%);
    border-radius: 12px;
    background-color: black;
}

.navbar-category-base {
    display: flex;
    transition: opacity 500ms ease, margin-left 500ms ease, clip-path 500ms ease;
    position: absolute;
    opacity: 0;
    margin-left: 248px;
    pointer-events: none;
}

.navbar-category-base.reverse {
    margin-left: -248px;
}

.navbar-category-base.reverse.show {
    opacity: 1;
    margin-left: 0;
    pointer-events: auto;
}

.navbar-category-base.reverse.hide {
    opacity: 0;
    margin-left: 248px;
}

.navbar-category-base.show {
    opacity: 1;
    margin-left: 0;
    pointer-events: auto;
}

.navbar-category-base.hide {
    opacity: 0;
    margin-left: -248px;
}

#navbar-inner-left:has(.navbar-navigation-item-with-category:hover):not(.navigating) #navbar-category-outer, #navbar-inner-left:has(#navbar-category-outer:hover):not(.navigating) #navbar-category-outer {
    opacity: 1;
    pointer-events: auto;
}

#navbar-category-indicator {
    position: fixed;
    transform: rotate(180deg);
    margin-top: -24.5px;
    left: 0;
}

#navbar-category-indicator-icon {
    width: 32px;
    height: 32px;
}

.navbar-category-section {
    padding: 8px 0;
    width: 248px;
}

.navbar-category-section:nth-child(1) {
    padding-left: 8px;
}

.navbar-category-section:nth-last-child(1) {
    padding-right: 8px;
}

.navbar-category-section-header {
    padding: 8px 12px;
    color: hsl(0, 0%, 63%);
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.navbar-category-section-item {
    padding: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar-category-section-item:hover .navbar-category-section-item-icon-container {
    color: black;
    background: hsl(0, 0%, 93%);
}

.navbar-category-section-item:hover .navbar-category-section-item-text-description {
    color: hsl(0, 0%, 93%);
}

.navbar-category-section-item-icon-container {
    width: 32px;
    height: 32px;
    background: black;
    border: 1px solid hsla(0, 0%, 100%, .14);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 63%);
    transition: color 150ms ease, background 150ms ease;
}

.navbar-category-section-item-text-title {
    font-size: 14px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    color: hsl(0, 0%, 93%);
}

.navbar-category-section-item-text-description {
    font-size: .75rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1rem;
    white-space: nowrap;
    color: hsl(0, 0%, 63%);
    transition: color 150ms ease;
}

.navbar-navigation-item-link {
    color: inherit;
    text-decoration: inherit;
}

#mobile-navbar {
    display: none;
}

#app #loader {
    display: flex;
}

#app #page {
    display: none;
}

#app.loaded #loader {
    display: none !important;
}

#app.loaded #page {
    display: block !important;
}

#page {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding-left: 24px;
    padding-right: 24px;
}

#error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    position: fixed;
    inset: 0;
    text-align: center;
}

#error-page-title {
    color: hsl(0, 0%, 93%);
    margin: 64px 0 8px;
    font-weight: 700;
    letter-spacing: -0.066875rem;
    line-height: 3.5rem;
    font-size: 3rem;
}

#error-page-logo {
    width: 196px;
    height: 196px;
}

#error-page-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin: 12px 0;
    color: hsl(0, 0%, 63%);
    height: 48px;
}

#error-page-btn {
    margin: 12px auto 24px;
}

@media (max-width: 900px) {
    #mobile-navbar {
        display: flex;
        box-shadow: none !important;
    }

    #navbar {
        display: none;
        overflow-x: auto;
    }

    #mobile-navbar-hamburger-container {
        color: hsl(0, 0%, 63%);
    }

    #mobile-navbar-hamburger-open {
        display: none;
    }

    body:has(#navbar.mobile-open) #mobile-navbar-hamburger-open {
        display: initial;
    }

    body:has(#navbar.mobile-open) #mobile-navbar-hamburger-closed {
        display: none;
    }

    body:has(#navbar.mobile-open) #navbar {
        display: flex;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
    }

    #navbar-inner {
        margin-top: 10px;
        height: auto;
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        align-items: start;
    }

    #navbar-category {
        margin-top: 10px;
        height: auto !important;
        width: 100% !important;
        border-radius: 0;
        border: none;
        background-color: transparent;
    }

    #navbar-category-outer {
        position: initial;
        opacity: 1;
        pointer-events: all;
        padding: 0;
    }

    .navbar-category-base {
        position: initial;
        opacity: 1;
        pointer-events: all;
        margin-left: 0;
        width: 100%;
    }

    #navbar-inner-left {
        display: block;
        width: 100%;
        margin: 0 -12px;
    }

    #navbar-inner-right .btn {
        width: 100%;
        height: 40px;
        padding: 0 10px;
    }

    #navbar-logo {
        display: none;
    }

    #navbar-category-indicator {
        display: none;
    }

    .navbar-navigation-item {
        flex-basis: 100%;
    }

    #navbar-inner-left, #navbar-inner-right {
        height: auto;
    }

    #navbar-inner-right {
        flex-flow: row-reverse wrap-reverse;
    }

    .navbar-category-section, #navbar-navigation {
        padding: 12px 0 !important;
        flex-basis: 100%;
        width: 100%;
    }

    .navbar-category-base {
        display: block;
    }

    #navbar-navigation {
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
    }

    .navbar-category-section-header, .navbar-category-section-item-text-title, .navbar-navigation-item {
        font-size: initial;
        font-weight: initial;
    }

    .navbar-category-section, #navbar-navigation {
        border-top: 1px solid hsl(0, 0%, 12%);
    }

    .navbar-category-section-item, .navbar-navigation-item {
        color: hsl(0, 0%, 63%);
    }

    .navbar-category-section-item-text-title {
        color: inherit;
        margin-bottom: 0;
    }

    .navbar-category-section-item-text-description {
        display: none;
    }

    .navbar-category-section-item, .navbar-navigation-item {
        padding: 0;
        gap: 8px;
    }

    .navbar-category-section-header, .navbar-navigation-item {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-navigation-item {
        display: flex;
        align-items: center;
    }

    .navbar-navigation-item.navbar-navigation-item-with-category {
        display: none;
    }

    .navbar-category-section-item-icon-container {
        background-color: transparent;
        border: none;
    }

    .navbar-category-base:nth-child(1) .navbar-category-section:nth-child(1) {
        border: none;
    }

    .navbar-category-section-header, .navbar-category-section-item, .navbar-navigation-item {
        height: 48px;
        padding: 0 12px;
    }

    .navbar-category-section-item:hover .navbar-category-section-item-icon-container {
        color: inherit;
        background: initial;
    }

    .navbar-category-section-item-icon-container {
        width: max-content;
        height: max-content;
    }

    .navbar-category-section-item:hover, .navbar-navigation-item:hover {
        color: hsl(0, 0%, 93%);
        background-color: hsl(0, 0%, 10%);
    }

    .navbar-category-section-item, .navbar-navigation-item {
        transition: color 150ms ease, background-color 150ms ease;
        border-radius: 6px;
    }
}
