/* Debugging */
#debug {
    position: fixed;
    color: white;
    opacity: .5;
    font-family: "Geist Sans", sans-serif;
    top: 10%;
    left: 10%;
    pointer-events: none;
    z-index: 9999;
}

/* Container */
#app #loader {
    display: flex;
}

#app #page {
    display: none;
}

#app.loaded #loader {
    display: none !important;
}

#app.loaded #page {
    display: block !important;
}

/* Mobile container */
@media (max-width: 900px) {
    #app, #loader {
        padding-bottom: 32px;
    }

    .mobile-break {
        font-size: 0;
        display: block;
    }
}

/* Credits */
#credits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.credits-grid-title {
    font-weight: 700;
    text-align: right;
}

#credits-footer {
    text-align: center;
    margin-top: 20px;
}

#credits-powered {
    display: block;
    width: max-content;
    margin: 20px auto 0;
}

#credits-powered-logo {
    border: 1px solid #5e5e5e;
    border-radius: 5px;
}

/* Projects page */
.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 64px);
}

#project-section-text, #project-section-image {
    display: flex;
    align-items: center;
}

#project-section-image-inner {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: hsl(0, 0%, 9%);
    border-radius: .5vw;
}

#project-section-image-img {
    width: 100%;
    height: 100%;
    border-radius: .5vw;
}

#project-section-text-buttons {
    display: flex;
    gap: 20px;
}

/* Mobile projects page */
@media (max-width: 900px) {
    .project-section {
        grid-template-columns: 1fr;
    }

    #project-section-text {
        text-align: center;
    }

    #project-section-text-buttons {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    #project-section-text-content, #project-section-text-title, #project-section-text-description {
        width: 100%;
    }
}

/* Archives */
#archives-loader {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

.archives-list-item {
    background-color: hsla(0, 0%, 100%, 0);
    transition: background-color 150ms;
    color: white;
    text-decoration: none;
    border: 1px solid hsla(0, 0%, 100%, .1);
    display: block;
}

.archives-list-item-inner {
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 10px 20px;
}

.archives-list-item:hover {
    background-color: hsla(0, 0%, 100%, .05);
}

.archives-list-item:nth-last-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.archives-list-item:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.archives-list-item:not(:nth-last-child(1)) {
    border-bottom: none;
}

.archives-title-part {
    word-break: manual;
    display: inline-block;
}

.archives-title {
    line-height: 1.2;
}

/* Request */
#request-loader {
    display: flex;
    align-items: center;
    gap: 8px;
}

#request-alternative-body {
    white-space: unset;
}

#request-description-field {
    resize: vertical;
    min-height: 7ch;
    max-height: 40vh;
}

.request-alternative-email {
    margin-top: 20px;
    color: hsl(0 0 63%);
}

.request-alternative-email summary {
    cursor: pointer;
}

/* Accessibility */
@media (prefers-reduced-motion) {
    * {
        animation: none !important;
        transition: none !important;
    }
}
